.form-mode{
    width: 400px;
    height: auto;
    padding: 20px;
    background: $whiteBg;
    border-radius: 4px;
    box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.1);

    .title{
        color: $titleText;
        text-align: center;
        padding: 15px 0;
        font-size: $font-size-24;
    }

    .lang-mode{
        text-align: right;
    }

    .btn-center{
        text-align: center;
    }

    .login-btn{
        width: 100%;
    }

    .info-btn{
        display: flex;
        justify-content: center;
    }

    .reg-btn{
        text-align: right;
    }

    .input-two{
        display: flex;
        justify-content: space-between;

        .code-img{
            cursor: pointer;
        }
    }
}